{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Learning Management System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/assignments.css' %}">
    {% comment %} favicon links below {% endcomment %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'signup' %}">Register</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'log_out' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    
    <footer>
        <p>&copy; 2024 eLearn</p>
    </footer>
</body>
</html>
