{% extends "core/base.html" %}

{% block title %}My Courses{% endblock %}

{% block content %}
<div class="course-list-container">
    <br>
    {% for course_detail in enrolled_course_details %}
    <div class="course-tile">
        <h2>{{ course_detail.course.title }}</h2>
        <h3>Assignments and Grades</h3>
        <div class="assignments-grades">
            <div class="assignments">
                <ul>
                    {% for assignment, grade in course_detail.assignment_grades %}
                    <li>{{ assignment.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grades">
                <ul>
                    {% for assignment, grade in course_detail.assignment_grades %}
                    <li>
                        {% if grade %}
                            {{ grade.score }}
                        {% else %}
                            Not graded
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="total-points">
            <p>Total Score: {{ course_detail.percentage }}%</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
